# ==============================================================================
# Data Files (Genomic Coordinates & Assemblies)
# ==============================================================================
# Ignore raw genome database downloads 
data/raw/

# Ignore heavy intermediate temporary BED intersections
data/process_temp/

# Optional: If you want to distribute your finalized clean blacklists over 
# Zenodo/OSF instead of bloating your Git history, uncomment the next line:
# results/cleaned_blacklist/

# ==============================================================================
# Logs and Runtime Junk
# ==============================================================================
# Pipeline performance streams & console logs
##logs/

# Standard R background files
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Hidden system file structures
.DS_Store
Thumbs.db

# Fallback graphics dumps (just in case)
Rplots.pdf
